*{
    box-sizing: border-box;
    /* outline: 1px solid #55bab3; */
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #111111;
}


.slider-container{
    max-width: 475px;
    width: 100%;
    padding: 50;
}

.container{
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
nav{
    background-color: #111;
}
nav .container{
    padding: 0;
}


nav .container{
    padding: 0 20px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
nav ul li{
    float: left;
}
nav ul li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    transition-duration: 400ms;
}
nav ul li a:hover:not(.active){
    background-color: #111111;
    background-color: #ec9511;
}
nav ul li a.active{
    background-color: #ec9511;
}

nav .container{
    display: grid;
    grid-template-columns: auto 1fr;
}

nav .brand{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition-duration: 400ms;
    margin-right: 100px;
}

nav .brand:hover,
nav .brand:focus{
    color: #ec9511;
}


nav .brand h1{
    margin: 0;
    line-height: 46px;
}

.slide, .slick-slide, .slick-list{
    height: 100%;
    width: 100%;
    background-size: cover;
}

    

.slide{
    color: white;
    padding: 40px;
    background-color: rgba(0,0,0,.8);
    height: 300px;
}

.slick-track{
    height:100%
}
.slide .buttons {
    text-align: right;
}
button.previous, 
button.next{
    height: 40px;
    width: 40px;
    border: none;
    color: white;
    background-image: url("arrow.svg");
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
}
/* icon by https://www.flaticon.com/authors/google */
button.previous{
    background-color: red;
    transform-origin: 50% 50%;
    transform: rotate(180deg);
}
button.next{
    background-color: green;
}



ul.slick-dots{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}
ul.slick-dots li{
    display: inline-block;
}
ul.slick-dots li.slick-active button{
    width: 20px;
    background-color: #ec9511;
}
ul.slick-dots li button{
    transition-duration: 2000ms;
    font-size: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}





#flame-bg{
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px #ec9511 solid;
    border-width: 3px 0;
    background-position: 50% 50%;
}
h2{
    text-align: center;
    text-shadow: 4px 4px 6px white;
    font-size: 75px;
    font-style: italic;  
    color: rgb(2, 1, 15)
}
#logo{
    text-align: center;
    margin-bottom: 2em;
}

